@mixin font($f-name, $f-style, $f-weight, $f-url) {
  @font-face {
    font-family: $f-name;
    font-style: $f-style;
    font-weight: $f-weight;
    src: url($f-url) format("woff2");
    font-display: swap;
  }
}

@include font("Lato", normal, 700, "/fonts/LatoLatin-Bold.woff2");
@include font("Lato", normal, 400, "/fonts/LatoLatin-Regular.woff2");
@include font("Lato", normal, 300, "/fonts/LatoLatin-Light.woff2");
@include font("Lato", normal, 200, "/fonts/LatoLatin-Thin.woff2");
@include font("icons", normal, 400, "/fonts/icons.woff");
