@import "../../styles/main";

#next-articles {
  padding: 100px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
   text-align: center;
  h3 {
    color: $accent-color1;
    font-size: 31px;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 85px;

  }
  div {
    cursor: pointer;
    padding: 32px 160px;
    border: 1px solid $accent-color1;
    font-size: 18px;
    color: $accent-color1;
    font-style: italic;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 560px) {
  #next-articles {
     h3 {
        font-size: 24px;
     }
    div {
      padding: 32px 40px;
    }
  }
}
