@import "../../styles/main";

.recommended-article-list-item {
  display: flex;
  justify-content: center;
  height: 300px;
  padding: 120px 20px;
  box-sizing: border-box;
  &-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .recommended-article-title {
      color: $accent-color1;
      font-size: 18px;
      font-weight: 300;
      text-transform: uppercase;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }
    .recommended-article-info {
      color: $accent-color1;
      font-size: 10px;
      font-weight: 300;
      line-height: 27px;
      text-transform: uppercase;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }
  }
}
